/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* MAIN */
.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;

    /* debug */
    border: 2px solid #b667ea;
}



/* MENU */
.menu {
    width: 200px;
    position: relative;
    ;

    /* debug */
    border: 2px solid #ffffff;
    background-color: #753d9b;
}

.menu>div {
    padding: 10px;
    line-height: 30px;
}

.install {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* LIBRERIA */
.bookshelf {
    width: calc(100% - 200px);
    overflow: auto;

    /* debug */
    border: 2px solid #ffffff;
    background-color: #753d9b;
}

/* header */
.header {
    background-color: #000000;
    padding: 35px 0;
    text-align: end;
}

.button {
    border: 2px solid #ffffff;
    border-radius: 100px;
    padding: 10px 20px;
    color: #ffffff;
}

/* nav-lebreria */
.nav-bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-bookshelf>li {
    padding: 20px;
}

/* Tracce*/
.track {
    padding: 20px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.col {
    width: calc(100%/6);
    text-align: center;
    padding: 20px 10px 30px;
}

.track h2 {
    padding-bottom: 10px;
}

.circle {
    border-radius: 50%;
}





/* FOOTER- barra di riproduzione */

.playback {
    display: flex;
    /* debug */
    height: 100px;
    background-color: #e786e7;
    border: 2px solid #ffffff;
}

.in-play {
    width: 20%;
    /* debug */

    border: 1px solid white;
    background-color: #963de8;
}

.bar {
    width: 60%;
    /* debug */

    border: 1px solid white;
    background-color: #4e1b7e;
}

.instruments {
    width: 20%;
    /* debug */

    border: 1px solid white;
    background-color: #963de8;
}




/**************************/
/* Responsive */
/* M */
@media screen and (max-width:1024px) {
    .col {
        width: calc(100%/4);

    }
}

/* S */
@media screen and (max-width:786px) {
    .col {
        width: calc(100%/2);
    }
}

/* XS */
@media screen and (max-width:425px) {

    /* MENU */
    .menu {
        width: 50px;

        /* debug */
        border: 2px solid #ffffff;
        background-color: #753d9b;
    }

    .none {
        display: none;
    }

    /* LIBRERIA */
    .bookshelf {
        width: calc(100% - 50px);

        /* debug */
        border: 2px solid #ffffff;
        background-color: #753d9b;
    }

    .header {
        padding: 25px 0;
        font-size: 10px;
    }

    .nav-bookshelf>li {
        font-size: 10px;
        padding: 5px;
    }

}